<!--
File name: footer.ejs
Author's name: Sisi Li
Web site name: Sisi's Portfilo
File description: this is a footer partials
-->

</div>
</div>
     <script src="https://unpkg.com/scrollreveal/dist/scrollreveal.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="/Scripts/lib/jquery/dist/jquery.min.js"></script>
    <script src="/Scripts/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/Scripts/app.js"></script>
     <script src="js/ScrollReveal.js"></script> 
  </body>
</html>