<% include ../partials/header.ejs %><!-- include the navigation bar-->

<!-- content section -->
<div class="container">
<% include ../partials/projects.ejs %>
<div class="main">
<h1>Clinic Administration System</h1>
<hr class="featurette-divider">
 <div class="row featurette">
        <div class="col-md-6">
         <p class="lead">It is a clinic administration system for managing patients' information by storing data in SQLite database.</p>
         <p>Doctors and nurses can login or register into the system. Their identity will be verified to access different sections in the system.</p>  
        </div>
        <div class="col-md-6  reveal_bottom">
          <img class="featurette-image img-responsive center-block" data-src="holder.js/500x500/auto" alt="Generic placeholder image" src="/Assets/images/clinicProject/clinic1.PNG">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
      <div class="col-md-6  reveal_bottom">
          <img class="featurette-image img-responsive center-block" data-src="holder.js/500x500/auto" alt="Generic placeholder image"src="/Assets/images/clinicProject/clinic2.PNG">
        </div>
        <div class="col-md-6">
           <p>They can enter the information to the system. All the data will be stored in the local database which is SQLite database.</p>   
        </div>
      </div>

      <hr class="featurette-divider">
    
         <div class="row featurette">
        <div class="col-md-6">
        <p>It has four different basic navigations. Nurses can access all of it, but doctors can only access the "Test" information.</p>
        </div>
        <div class="col-md-6 reveal_bottom">
          <img class="featurette-image img-responsive center-block" data-src="holder.js/500x500/auto" alt="Generic placeholder image"src="/Assets/images/clinicProject/clinic3.PNG">
        </div>
      </div>

      <hr class="featurette-divider">

        <div class="row featurette">
        <div class="col-md-6  reveal_bottom">
          <img class="featurette-image img-responsive center-block" data-src="holder.js/500x500/auto" alt="Generic placeholder image"src="/Assets/images/clinicProject/clinic4.PNG">
        </div>
        <div class="col-md-6">
        <p>They can also retrive the information from the database by ethier seaching the name/id of specific record or display all the records.</p>
        </div>
      </div>
</div>
<hr class="featurette-divider">
      <!-- /END THE FEATURETTES -->
    </div><!-- /.container -->
  <!-- FOOTER -->
      <footer>
        <p class="pull-right"><a href="#">Back to top</a></p>
        <p>&copy; Portfolio by Sisi Li</p>
      </footer>
<% include ../partials/footer.ejs %><!-- include the footer partial --> 

