<!--
File name: contact.ejs
Author's name: Sisi Li
Web site name: Sisi's Portfilo
File description: this is a contact ejs templet
-->

<% include ../partials/header.ejs %><!-- include the navigation bar-->

<!-- content section -->

<h1>Sisi Li</h1>
<h3>Phone: 416-833-2598</h3>
<h3>Email: sisili9411@gmail.com</h3>
<h3>Address: 2075 warden Ave, Scarborough</h3>
<br><br>
<h4>If you have question, please conact me!</h4>




