<% include ../partials/header.ejs %><!-- include the navigation bar-->

<!-- content section -->
      <div class="inner cover">
              <h1 class="cover-heading top" >I AM  SISI LI</h1>
              <br><br>
              <h4 class="lead bottom">I graduated in Software engineering technology from Centennial College.</h4>
              <h4 class="lead bottom">Interested in a challenging technical track career in an IT field</h4>
            </div>


 <% include ../partials/footer.ejs %><!-- include the footer partial -->  
  
 
   
