<% include ../partials/header.ejs %><!-- include the navigation bar-->

<!-- content section -->
      <div class="inner cover">
              <h1 class="cover-heading top" >I AM  SISI LI</h1>
              <br><br>
              <p class="leading bottom">I graduated in Software engineering technology from Centennial College.</p>
              <p class="leading bottom">Interested in a challenging technical track career in an IT field</p>
            </div>


 <% include ../partials/footer.ejs %><!-- include the footer partial -->  
  
 
   
