<% include ../partials/header.ejs %><!-- include the navigation bar-->

<!-- content section -->
<div class="container">
<% include ../partials/projects.ejs %>
<div class="main">
<h1>Contacts Management System</h1>

<hr class="featurette-divider">
 <div class="row featurette">
        <div class="col-md-6">
         <p class="lead">It is a contacts management system for administrators to manage contacts by using JavaEE persistence, JSP and MySql</p>
         <p>The database has two tables which are contact and user. User table stores data of administrators who can access the contacts information.  </p>     
        <p>Administrators can login by username and password which has already stored in the user table.</p>
        </div>
        <div class="col-md-6 reveal_bottom">
          <img class="featurette-image img-responsive center-block" data-src="holder.js/500x500/auto" alt="" src="/Assets/images/contactManagementProject/contact1.PNG">
        </div>
      </div>

      <hr class="featurette-divider">

  <div class="row featurette">
        <div class="col-md-6 col-md-push-6">
         <p>Administrators can add new contact information of one person and information will be stored in the contact table</p> 
         <p>The fields have input validation which prevernt malicious or invalid inputs from users.</p>   
        </div>
        
        <div class="col-md-6 col-md-pull-6 reveal_bottom">
          <img class="featurette-image img-responsive center-block" data-src="holder.js/500x500/auto" alt="Generic placeholder image"src="/Assets/images/contactManagementProject/contact2.PNG">
        </div>
       </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-4  left">
          <img class="featurette-image img-responsive center-block" data-src="holder.js/500x500/auto" alt="Generic placeholder image"src="/Assets/images/contactManagementProject/contact3.PNG">
        </div>
        <div class="col-md-4">
          <p>Administrators are able to retrive the contact information of one specific person by searching the contact ID</p>
          <p>Administrators can view the specific contact information and also can eidt or delete this record from the conatct table.</p> 
        </div>
        <div class="col-md-4 right">
          <img class="featurette-image img-responsive center-block" data-src="holder.js/500x500/auto" alt="Generic placeholder image"src="/Assets/images/contactManagementProject/contact4.PNG">
        </div>
      </div>
  </div> <!--main-->


    <div class="another">
      <h1>Restaurant Menu Order Application</h1>
      <hr class="featurette-divider">
      <div class="row featurette">
        <div class="col-md-6">
         <p class="lead">This is a simple restaurant menu order application by using JavaEE without sql</p>
        <p>Users can view the food menu when they visit the website.</p>     
       <p>And then enter the user name to the system.</p>
        </div>
        <div class="col-md-6 reveal_bottom">
          <img class="featurette-image img-responsive center-block" data-src="holder.js/500x500/auto" alt="" src="/Assets/images/restaurantProject/restaurant1.PNG">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-6 col-md-push-6">
         <p>Users can select several food items from the menu and also specify the quantity of each food item they want to order.</p>   
        </div>
        
        <div class="col-md-6 col-md-pull-6 reveal_bottom">
          <img class="featurette-image img-responsive center-block" data-src="holder.js/500x500/auto" alt="Generic placeholder image"src="/Assets/images/restaurantProject/restaurant2.PNG">
        </div>
       </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-4 left">
          <img class="featurette-image img-responsive center-block" data-src="holder.js/500x500/auto" alt="Generic placeholder image"src="/Assets/images/restaurantProject/restaurant3.PNG">
        </div>
        <div class="col-md-4">
           <p>Users can confirm or cancel the order.</p>    
         <p>The simple application was developed to pass data and display data by using request scope, session scope and application acope.</p>     
        </div>
        <div class="col-md-4 right">
          <img class="featurette-image img-responsive center-block" data-src="holder.js/500x500/auto" alt="Generic placeholder image"src="/Assets/images/restaurantProject/restaurant4.PNG">
        </div>
        <hr class="featurette-divider"> 
        </div>    
          
</div>  <!-- another -->
    
    </div><!-- /.container -->
       <footer>  <!-- FOOTER -->
        <p class="pull-right"><a href="#">Back to top</a></p>
        <p>&copy; Portfolio by Sisi Li</p>
      </footer>
<% include ../partials/footer.ejs %><!-- include the footer partial --> 

