<% include ../partials/header.ejs %><!-- include the navigation bar-->

<!-- content section -->
<div class="container">
<% include ../partials/projects.ejs %>
<div class="main">
<h1>Online survey tool</h1>
<hr class="featurette-divider">
 <div class="row featurette">
        <div class="col-md-5">
         <p class="text-left lead">An online survey software which can help registed users make custom suveys. Anonymous users can answer all the active surveys.</p>
         <p class="text-left">Functions</p>
         <ul class="text-left">
           <li>login/logout/register</li>
           <li>create surveys</li>
           <li>edit/update surveys</li>
           <li>delete surveys</li>
           <li>view all active surveys</li>
           <li>view personal survey list</li>
           <li>answer active surveys</li>
           <li>view analytical statistics</li>
           <li>edit/update profile</li>
         </ul>
        </div>
        <div class="col-md-7 reveal_bottom">
          <img class="featurette-image img-responsive center-block" data-src="holder.js/500x500/auto" alt="Generic placeholder image" src="/Assets/images/survey/index.JPG">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-4 col-md-push-4">
         <p >Technical skills</p>
          <ul class="text-left">
           <li>express.js as the web application framework</li>
           <li>database is mongodb where I store the data </li>
           <li>passport as the middleware for the authentication</li>
           <li>html, css, bootstrap, javascript</li>
           <li>user-friendly interface design</li>
         </ul>
        </div>
        
        <div class="col-md-4 col-md-pull-4 left">
          <img class="featurette-image img-responsive center-block" data-src="holder.js/500x500/auto" alt="Generic placeholder image"src="/Assets/images/survey/create.JPG">
        </div>
        <div class="col-md-4 right">
          <img class="featurette-image img-responsive center-block" data-src="holder.js/500x500/auto" alt="Generic placeholder image"src="/Assets/images/survey/create2.JPG">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-5">
          <p class="text-left">Contribution</p>
          <ul class="text-left">
           <li>Responsible for the part of answering surveys, both font-end and back-end </li> 
           <li>Creatively design human-centered interface</li>
           <li>Design and create answer/response table scheme for the database</li>      
           <li>Create database functions which get servers to save or retrive the response data for each survey</li>
           <li>Conduct the database operations to the surveys of specific user, such as view or delete</li>
          </ul>
        </div>
        <div class="col-md-7 reveal_bottom">
          <img class="featurette-image img-responsive center-block" data-src="holder.js/500x500/auto" alt="Generic placeholder image"src="/Assets/images/survey/answer.JPG">
        </div>
      </div>

      <hr class="featurette-divider">
    
         <div class="row featurette">
        <div class="col-md-6 left">
        <img class="featurette-image img-responsive center-block" data-src="holder.js/500x500/auto" alt="Generic placeholder image"src="/Assets/images/survey/data.JPG">
        </div>
        <div class="col-md-6 right">
          <img class="featurette-image img-responsive center-block" data-src="holder.js/500x500/auto" alt="Generic placeholder image"src="/Assets/images/survey/data2.JPG">
        </div>
      </div>

      <hr class="featurette-divider">
</div>
      <!-- /END THE FEATURETTES -->
 </div><!-- /.container -->   

    <!-- FOOTER -->
      <footer>
        <p class="pull-right"><a href="#">Back to top</a></p>
        <p>&copy; Portfolio by Sisi Li</p>
      </footer>   
<% include ../partials/footer.ejs %><!-- include the footer partial --> 
